<script src="smtp.js"></script>

<script>


function date_day(){

      /*
      Build the text date
      */

      var date = new Date()
      var day = date.getDate();
      var month = date.getMonth()+1;
      var year = date.getFullYear();
      var txt_date = [year, month, day].join('_').slice(2)

      return txt_date

}

function send_mail(subject,message){

      /*

      */

      Email.send({
          Host : "smtp.gmail.com",
          Username : "straptoc@gmail.com",
          Password : "node67;*",
          To : "lionel.chiron@gmail.com",
          From : "nodestrap@gmail.com",
          Subject : subject,
          Body : message
    }).then(
      message => alert(message)
    );
}

function alert_in_strap(elem, postop){

      /*

      */

      elem.css({'background-color':'rgb(255,224,102)',
            'padding-left': '20px',
            'padding-right': '20px',
            'padding-bottom': '20px',
            'padding-top': '20px',
            'margin-right': '20px',
            'margin-left': '20px',
            'box-shadow': '0.5em 0.5em 0.7em',
            'position': 'fixed',
            'left': '50px',
            'top': postop.toString() + 'px',
            'max-width': '200px',
            'max-height': '300px',
            //'font-size': '85%',
            'z-index': '3',
            'color': 'black'
            })
      elem.parents().show()
      elem.draggable()
}

var reg = '!alert'
postop = 70
$('li').each(function(){
     txt = $(this).text().trim()
     if (txt.match(reg)){
            var date = txt.split(" ").slice(-1)[0]
            var currdate = date_day()
            var newtxt = txt.split(" ").slice(1,-1).join(" ")
            if (date == currdate){                                       // check date
                $(this).text(newtxt)
                //send_mail('alert nodestrap', newtxt)
                alert_in_strap($(this), postop) // $(this)
                postop += 30
            }
     }
})

</script>
