<link type="css"  rel="stylesheet" href="css/main_fonts.css">


<script>

//Grundschrift-Bold.otf    Grundschrift-Light.otf  Grundschrift-Regular.otf
//Grundschrift-Kontur.otf  Grundschrift-Punkt.otf
$('body').css({'padding-left':'50px'})
$('#content').css({'margin-left':'0px', 'column-count' : '2'})
$('h1').css({'font-family': "libre_carlson_display",'text-align':'left', 'font-size':'20px', 'text-shadow':'none'}) // 0086b3 e64d00 40bf40 c65353 ff4d4d
$('h2').css({'color':'#c65353', 'font-family': "libre_carlson_display", 'font-size':'15px', '-webkit-text-stroke-width': '0.5px'}) // 0086b3 e64d00 40bf40 c65353 ff4d4d 1a75ff b3d1ff ff3333 ff9999 8cb3d9
$('h3').css({'color':'#d27979', 'font-family': "libre_carlson_display", 'font-style': 'bold', '-webkit-text-stroke-width': '0.2px'}) // 'Enriqueta', serif
$('p').css({'font-size':'13px', 'line-height':'110%', 'font-family': "libre_carlson_display"})
$('#toc').css({'width':'auto !important', 'font-size':'14px', 'background-color':'white', 'opacity':'1', 'z-index':'50' })
$('#showtoc').css({ 'position':'fixed', 'right': '40px', 'opacity':'1', 'z-index':'50'  })
$('.navbar').hide()
$('.navbar').css({'position':'fixed', 'min-height':'30px'})
$('#help').hide()

$('#toc').click(function(){
   //alert('bigoooggggggggooo !!!')
   //top.pdf.scrollTop(200)

   //$('#pdf').contents().scrollTop(200)
   var ifrm = parent.document.getElementById('pdf');
   // //ifrm.contentWindow.scrollTo(100,200)
   // ifrm.contentWindow.scrollTo( 0, 999999 );
   // var frameDoc = ifrm.contentWindow.document;
   // frameDoc.documentElement.style.overflow = '100px';
   ifrm.body.scrollTop = 1000
   //ifrm.scrollTop = 100
   //var ht = ifrm.style.height = '100px';

   //$('#pdf').scrollTop(100)
})

MathLive.renderMathInDocument();

</script>
