
<script src="/socket.io/socket.io.js"></script>
<script src="dbl_click_move_to_text.js"></script>

<script>

var socket = io.connect();
var comment = false;

socket.on('connection', function() {
      socket.emit('join', 'This is a message from client' );
  });

socket.on('scroll_html', function(pos) {
      $(document).scrollTop(pos)
 });

 socket.on('page_return_to_html', function() {
       // alert('reloading the page !!! ')
       // window.location.reload()
       setTimeout(function(){window.location.reload()},1500)
  });

// ------------- Double click for switching to textarea

var dic_modes_switch = { '.date': 1, 'li li': 0,
                         'li:not(:has(span))': 0, 'p':0} //,'h1':0,'h2':0}
                          // switch to text in case of date, double list, list must not have span..

Object.entries(dic_modes_switch).forEach(([elem,i]) =>
        dblclick_to_text(socket, $(elem), i)
)

</script>
