{% include 'page_struct/begin.html' %}
<!-- <link id='favicon_header' rel="shortcut icon" type="image/ico" href="page_nail/typewriter.svg"> -->

<link id='favicon_header' sizes="32x32" rel="shortcut icon" type="image/ico" href="page_nail/nice_cat.png">
{% include 'page_struct/header.html' %}
{% include 'param_main_page.html' %}

{% include 'dropdown.html' %}

<!-- sandbox='allow-scripts allow-same-origin' -->
<iframe class='synctxt' src="html" id="html" name='html'  width="45%" height="600px" style="margin-left:100px; margin-right:10px"></iframe>
<!-- <embed src="pdf" id="pdf" type="application/pdf" width="40%" height="600px" name='pdf'/> -->
<iframe class='synctxt' src="pdf" id="pdf" name='pdf'  width="45%" height="600px" style="margin-left:0px; margin-right:10px" ></iframe>

<br><br><br><br>


{% include 'voice_toc.html' %}
{% include 'interact.html' %}
{% include 'page_struct/scroll_socket.html' %}
{% include 'page_struct/end.html' %}
