<!DOCTYPE html>

<html>

<meta charset="UTF-8">

<script src="artyom.window.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>

const artyom = new Artyom();
var socket = io.connect();

artyom.initialize({

  lang:'fr-FR',
  continuous:true,
  debug:false,
  listen:true,
  obeyKeyword: "écoute mammouth"

})


// --------------------------------

voice_onoff()
artyom.isObeying(function(){
  $('#voice_onoff').css({'background-color':'yellow'})
})

// --------------------------------

function voice_onoff(){

      /*

      */

      var elem = $('<div/>').attr('id','voice_onoff')
      $('#content').append(elem)
      elem.css({'background-color':'rgb(255,224,102)',
                'box-shadow': '0.5em 0.5em 0.7em',
                'position': 'fixed',
                'left': '50px',
                'top': '50px',
                'width': '20px',
                'height': '20px',
                //'font-size': '85%',
                'z-index': '3'
                })
        manual_flip(elem)

      }

// -------------------------------- stop recognition..

var dic_trig =  {
        indexes: ['arrête ton char'],
        action: function() {
            //artyom.say("change le toc");
            artyom.dontObey()
            }
    }

artyom.addCommands(dic_trig); //

// -------------------------------- trigger recognition..

var dic_listen =  {
        indexes: ['écoute mammouth'],
        action: function() {
            $('#voice_onoff').css({'background-color':'yellow'})
            }
    }
artyom.addCommands(dic_listen); //

function manual_flip(elem){

  /*
  Flip manually between recognition and non recognition..
  */

  elem.click(function(){

          if(artyom.isObeying()){
              artyom.dontObey()
              $('#voice_onoff').css({'background-color':'blue'})
          }else{
              artyom.obey()
              $('#voice_onoff').css({'background-color':'yellow'})
          }

      })

  }

// -------------------------------- go to location function..

function goto(root, name){

      var dic_name =  {
          indexes: [name],
          action: function() {
              location.href = root + name
              }
      }
      return dic_name

}

// -------------------------------- toggle TOC

var dic_toc =  {
        indexes: ['table des matières', 'matières'],
        action: function() {
            //artyom.say("change le toc");
            $('#toc').toggle()
            }
    }
artyom.addCommands(dic_toc); //

// -------------------------------- trigger Notes

var dic_note =  {
        indexes: ['nouvelle note'],
        action: function() {
            socket.emit('new_note', '')
            }
    }

artyom.addCommands(dic_note); //

//----------- Dic voc for goto

socket.on('dic_voc', function(dic) {

      var dic_voc = JSON.parse(dic)
      for (k in dic_voc){                 // keys
          curr_list = dic_voc[k]         // current list
          for (i in curr_list){
              artyom.addCommands(goto(k, curr_list[i])); //
          }
      }

 });



</script>

</html>
