
# Introduction

## example

* blabla
	* hop..

$menu_bim link:nm_Edit:ic_edit:href_baragouinage

1/1/16

* 光说空话不做事，犹如花园光长刺
* [Vamosplaya  %%](Vamosplaya.mp4)
* [huppe link](#huppe)
* [cartoonmovement ,,](http://blog.cartoonmovement.com/)
* video eg ::
    * [vidéo 1  ;;](http://www.youtube.com/watch?v=QH2-TGUlwu4)
* adding that
	* [en-direct-nie](http://www.balbucam.fr/fr/en-direct-nie/)
    * yepppp

## Example of equation
* first example
    * sum ::
        * $math \sum_{i=0}^n i^2 = \frac{(n^2+n)(2n+1)}{6}

## blablabla

# barag

5/4/19

* chinois  ::
    * faire expo sur un sujet..
        * faire fiche vocab..blabla
        * imager les trous noirs..
            * images par réseaux de télescopes..
        * supras ::
            * multiples appli possib..
                * énergie ::
                    * gdes économies d'énergie
                * santé ::
                    * IRM, diagnostic méd des tissus mous..
            * ce qui est intéressant sont les propriétés étonnantes..
                * pas juste supra fluidité..
                * effet Meissner ::
                    * réjection du ch mag..
                        * diff manière de voir ça..
                            * classique..
                            * quantique..
                * BCS ::
                    * appairement des électrons, paires de Cooper..
                * diff mécanismes conduisant aux mêmes propriétés..
                * classification..
                    * type I..
                    * type II
* [how-to-make-time-for-your-passion-project](https://medium.com/@alltopstartups/how-to-make-time-for-your-passion-project-if-you-are-too-busy-working-for-someone-else-d7e88b70976c)
* job ::
    * [un-laser-compact-pour-detecter-les-polluants-2](https://actu.epfl.ch/news/un-laser-compact-pour-detecter-les-polluants-2/)
    * [candidat](https://salonenligne.pole-emploi.fr/candidat)
    * poser question besoin num à droite à gauche..
    * vr avec contact l'Oréal..
* réparations ::
    * téléph pr interphone..
* spectro ::
	* [Mid infrared gas spectroscopy using efficient fiber laser driven photonic chip-based supercontinuum §§](https://www.nature.com/articles/s41467-019-09590-3.pdf)
* phys ::
	* [space-the-final-illusion](https://blogs.scientificamerican.com/observations/space-the-final-illusion)
* [espanoles-Juan-Maria-Reig-Pla_0_885411700](https://www.eldiario.es/sociedad/espanoles-Juan-Maria-Reig-Pla_0_885411700.html)

6/4/19

* meetup math ::
    * faire théorème de Wendell..
* prog ::
    * améliorer maîtrise de git..
* chinois ::
    * onomatopées..
        * cocorico ..
    * faire liste voca dans cloudstation..
* [why-people-believe-in-the-soul-1-out-of-body-experiences](https://mappingignorance.org/2019/03/18/why-people-believe-in-the-soul-1-out-of-body-experiences/)

7/4/19

* prog ::
    * python ::
        * regarder absolument ça..
            * https://docs.python.org/3/library/index.html
    * passer du tps à étudier langages etc..
        * vr Go ..
    * exp simple avec fast CNN etc..
* math ::
	*  [Random Walks on Graphs: A Survey §§](http://web.cs.elte.hu/~lovasz/erdos.pdf)
    * [Random walks and graphs §§](https://www.math.u-psud.fr/~curien/cours/cours-MA-V2.pdf)
* chinois ::
    * avancer sur
        * trou noir
            * https://eventhorizontelescope.org/
            * récup infos sur l'essai d'imagerie directe..
            * infos indirectes..
                * ondes gravit..
                * turbulence des étoiles absorbées..
                    * émissions X etc..
                * lentilles gravitationnelles..
                * mvts particuliers au centre de la galaxie..
                    * confirm relat géné..
        * onomat ..
        * supras..
* elec ::
    * vr avec IoT ::
        * comm par exp simples..
* divers ::
    * infos sur les villes autour de Stras..
        * histoire, nb hab etc..
* [The Event Horizon Telescope on the Verge of a Breakthrough ;;](https://www.youtube.com/watch?v=C-OyMPAq2PU)
* http://www.balbucam.fr/fr/en-direct-nie/
* [how-the-evercrypt-library-creates-hacker-proof-cryptography-20190402](https://www.quantamagazine.org/how-the-evercrypt-library-creates-hacker-proof-cryptography-20190402)/
* [congo-president-warns-that-the-islamic-state-could-now-come-into-africa-to-set-up-their-caliphate](https://www.jihadwatch.org/2019/04/congo-president-warns-that-the-islamic-state-could-now-come-into-africa-to-set-up-their-caliphate)
* [extreme-animals-live-in-oceans](https://www.nationalgeographic.com/animals/2019/04/extreme-animals-live-in-oceans)

8/4/19

* pr rdv otphtalmo..
* prop Jérôme aller boire un coup..
* vr pr prép Meetup math..
* visite ::
    * Le château du Haut-Andlau (30 min de Stras)
* phys ::
    * Thouless ::
        * [Wave in disordered media and localisation phenomena §§](http://lptms.u-psud.fr/christophe_texier/files/2014/03/wrm_Ch_Texier.pdf)
        * [Thouless energy as a unifying concept for Josephson junctions §§](https://pdfs.semanticscholar.org/54a6/b299b510817c7c53f4adde7040e67e65c999.pdf)
        * [The Thouless formula §§](https://phsites.technion.ac.il/eric/wp-content/uploads/sites/6/2013/07/physica_a_200_530_1993.pdf)
* gros transferts ::
    * https://www.swisstransfer.com/fr
    * https://www.fromsmash.com/
    * https://wetransfer.com/
* rencontres ::
    * Friendly get together for multilingual people
        * meetup, vendredi 12 au café Brandt..
* société ::
    * [domicile-travail-l-autre-covoiturage_5447128_3234](https://www.lemonde.fr/economie/article/2019/04/08/domicile-travail-l-autre-covoiturage_5447128_3234.html)
    * [encadrement-des-loyers-un-nouveau-texte-pour-tenter-d-eliminer-les-abus_5447350_3224](https://www.lemonde.fr/societe/article/2019/04/08/encadrement-des-loyers-un-nouveau-texte-pour-tenter-d-eliminer-les-abus_5447350_3224.html)
* math ::
    * [Peut-on-denouer-l-icosaedre](https://images.math.cnrs.fr/Peut-on-denouer-l-icosaedre.html?lang=fr)
    * [golden](http://math.ucr.edu/home/baez/golden.html)
* étudier ::
    * Commencer théorie des champs quantiques..
* astro ::
    * [sarah-horst-creates-exoplanet-atmospheres-in-her-lab](https://www.quantamagazine.org/sarah-horst-creates-exoplanet-atmospheres-in-her-lab-20190408/)
    * [ligo-and-virgo-gravitational-wave-detectors-are-back](https://www.sciencenews.org/article/ligo-and-virgo-gravitational-wave-detectors-are-back)
* algos ::
    * [TAP Gibbs Free Energy, Belief Propagation and Sparsity §§](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.1002.9344&rep=rep1&type=pdf)
* [la-chine-a-rase-plusieurs-grandes-mosquees-en-region-ouigoure](https://www.nouvelobs.com/monde/20190407.OBS11230/la-chine-a-rase-plusieurs-grandes-mosquees-en-region-ouigoure-montrent-des-images-satellite.html)
* [celebrating-womens-history-month](https://medium.com/@cziscience/celebrating-womens-history-month-f07f4053a2c4)
* réinscription à la médiathèque..
* [univers-trou-noir-supermassif-voie-lactee-premiere-image-sagittarius-a-devoilee-mercredi-51210](https://www.futura-sciences.com/sciences/actualites/univers-trou-noir-supermassif-voie-lactee-premiere-image-sagittarius-a-devoilee-mercredi-51210/)
* exp num ::
    * ondes de compression route..
        * embouteillages..
            * simuler vit moy avec effet accordéon..
                * vitesses aléatoires..
    * faire labyrinthes ::
        * experim stat sur les gaz ds labyrinthes..

9/4/19

* prog ::
    * repr code avec openCV..
        * reréfléchir..
        * vr ce que j'ai déjà fait..
    * exp num ::
        * avec mov_walls..
            * faire le démon de maxwell..
            * simuler comp gaz qq soit géom..
                * vr effet stat..
                * utiliser ce genre de sim pr éducation..
            * sim pression terrestre..
                * changement avec altitude..
                    * faire colonne avec murs qui repoussent..
            * vr pr sim corde sous gravité..
                * segments qui s'attirent + gravité..
                    * est-ce que ça prend la forme théorique ?
                * experim dans des cas où théorie l'analytique est délicat..
* réflexion ::
    * améliorer app pr chim analyt..
        * FTICR..
            * si idée, proposer à des cherch..
* lectures intéressantes ::
    * [Universal_approximation_theorem](https://en.wikipedia.org/wiki/Universal_approximation_theorem)
    * [Approximation a Superpositions of Sigmoidal Function §§](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.441.7873&rep=rep1&type=pdf)
    * [What are the limits of deep learning §§](https://www.pnas.org/content/pnas/116/4/1074.full.pdf)
    * [Applied Linear Algebra, Boyd §§](https://web.stanford.edu/~boyd/vmls/vmls.pdf)
* Pbs intéressants ::
    * cellule gaz..
        * estim libre parcours moyen..
    * IRM boucles ds antenne..
* experim diverses ::
    * enveloppe ::
        * experim ligne de base
        * vr quelles applic possibles..
    * commencer IoT ::
        * regarder pr PyCom.
    * H2, tester certaines propriétés ::
        * effet Donald Duck.. flûte..
        * comment ça passe à travers les pores..
            * possib estimation taille des moléc ?
            * comp avec C02..
                * estimation respective des tailles
                    * à partir vitesse de dégonflage ?
        * vr quoi faire avec bulle H2 ::
            * vitesse de montée indique poids H2 ?
            * bulles montent très vite ?
    * syst pr faire photos sous l'eau ::
        * près péniches etc..
        * cygnes sous l'eau..
* chinois ::
    * avancer sur meetup..
    * travailler mots de liaison..
        * mais, ou, et, donc, or, ni, car etc..
    * étudier bouquin colloquial-chinese-the-complete-course-for-beginners.. (site https://epdf.tips)
* santé ::
    * faire prise de sang..
    * pr rdv pr échographie rein..
* zic ::
    * récup plus de Clash..
* récup bouq intéressants djvu dans https://epdf.tips/
* ordi ::
    * vr si poss lib place sur CloudStation..
        * vr pr éliminer doublons..
            * refaire tourner code..
* regarder Transport Optimal..
* histoire ::
    * [les-mysteres-de-la-civilisation-minoenne-se-dissipent_5447481_1650684](https://www.lemonde.fr/sciences/article/2019/04/08/les-mysteres-de-la-civilisation-minoenne-se-dissipent_5447481_1650684.html)
* maths ::
    * [On Tribonacci functions and Tribonacci §§](http://ijmcs.future-in-tech.net/11.1/R-Naderi.pdf)

10/4/19

* art de vivre ::
    * [sisu finnois](https://bigthink.com/personal-growth/sisu-grit)
* maths ::
    * [algo de Berlekamp §§](https://perso.univ-rennes1.fr/matthieu.romagny/agreg/theme/Berlekamp.pdf)
    * [La première méthode générale de factorisation des polynômes §§](http://www.numdam.org/article/RHM_2001__7_1_67_0.pdf)
    * [the-double-life-of-black-holes-20190129](https://www.quantamagazine.org/the-double-life-of-black-holes-20190129/)
    * [On the decidability of the existence of polyhedral invariants in transition systems §§](https://arxiv.org/pdf/1709.04382.pdf)
    * [complexpadicnumbers](https://www.planetmath.org/complexpadicnumbers)
* prog ::
    * web app ::
        * [imports](https://www.html5rocks.com/en/tutorials/webcomponents/imports/)
    * straptoc ::
        * vr pr ne pas avoir à écrire les imports dans la page html..
        * ne pas avoir à faire maketoc() à la fin
    * py ::
        * reg python generators..
        * reprendre exploration des concepts python..
* paléontologie ::
    * [peru-fossils-four-legged-otter-whale-hooves](https://www.sciencenews.org/article/peru-fossils-four-legged-otter-whale-hooves)
    * [l-homme-de-callao-une-nouvelle-espece-humaine-decouverte-aux-philippines_5448515_1650684](https://www.lemonde.fr/sciences/article/2019/04/10/l-homme-de-callao-une-nouvelle-espece-humaine-decouverte-aux-philippines_5448515_1650684.html)

14/4/19

* prog ::
    * simul num ::
        * murs joints avec masse..
            * particules qui frappent..
                * murs s'écartent..
                    * cercle ??
                * au départ avec vit aléat..
        * libre parcours moyen qq soit la géom..
            * reation avec taille trou de sortie..
    * faire un peu de C, de java, de C++
        * comm proj ds chaque..
    * vr pr faire musique en code.
* science ::
    * algos ::
        * [Hyperbolic Image Embeddings §§](https://arxiv.org/pdf/1904.02239.pdf)
        * [Variational Methods and Optimization in Imaging §§](http://www.ihp.fr/sites/default/files/conf1-04_au_08_fevr-imaging2019.pdf)
            * regarder ce que font Chaux, Chouzenoux, Couprie etc..
        * [hamiltonian-monte-carlo-from-scratch](https://colindcarroll.com/2019/04/11/hamiltonian-monte-carlo-from-scratch/)
    * [Emmy Noether, BBC](https://www.bbc.co.uk/sounds/play/m00025bw)
    * phys ::
        * [Quantum spin Hall effect of light §§](https://arxiv.org/pdf/1502.03319.pdf)
        * [Manipulating Light with a Magnetic Field §§](https://lpmmc.cnrs.fr/UserFiles/File/Tiggelen-Rikken%20.pdf)
        * [Recent advances in the spin Hall effect of light §§](https://www.ece.nus.edu.sg/stfpage/eleqc/ROPP2017.pdf)
        * [From sundial to atomic clocks §§](https://tf.nist.gov/general/pdf/1796.pdf)
        * [MPPL clocks §§](http://www.phys.cwru.edu/events/mppl/Hanneke/MPPL_clocks.pdf)
        * [Scale relativity of the proton radius: solving the puzzle §§](https://arxiv.org/pdf/1904.05772.pdf)
        * [Experimental rejection of observer-independence in the quantum world §§](https://arxiv.org/pdf/1902.05080.pdf)
        * [Correlations detected in a quantum vacuum §§](https://www.nature.com/magazine-assets/d41586-019-01083-z/d41586-019-01083-z.pdf)
    * génétique ::
        * [le-patrimoine-genetique-des-egyptiens-enfin-decrypte_2216644](https://mobile.francetvinfo.fr/sante/decouverte-scientifique/le-patrimoine-genetique-des-egyptiens-enfin-decrypte_2216644.html)
    * maths ::
        * [Mouvements-collectifs-et-auto-2745](https://images.math.cnrs.fr/Mouvements-collectifs-et-auto-2745.html?lang=fr)
* stras ::
    * vr pr m'inscrire workshop impro pr le 29 avril..
* réflexion ::
    * [garry-kasparov-says-ai-can-make-us-more-human](https://www.pcmag.com/article/367202/garry-kasparov-says-ai-can-make-us-more-human)
* [LIVE broadcast - Beresheet lands on the Moon Fasten your seatbelts, we are about to land](https://www.youtube.com/watch?v=HMdUcchBYRA&feature=youtu.be)
* [Computational Imaging for VLBI Image Reconstruction §§](http://people.csail.mit.edu/klbouman/pw/papers_and_presentations/cvpr2016_bouman.pdf)
* Lire les notes de Léonard..
* chinois ::
    * meetup ::
        * parler de Sin noticias de Gurb..
            * faire fich avec vocab etc..
                * extraterrestre etc..
        * commencer à lire bouq sur commerce mondial..
* vr pr réabonn Pr la Sc..
* [Père chiron](http://psychiatrie.histoire.free.fr/pers/bio/chiron.htm) ::
    * vr si je peux trouver le film de 1997 ...

15/4/19

* prog ::
    * petit programme en go..
    * améliorer mon py..
* divers ::
    * [grand-debat-national-claude-malhuret-j-ai-entendu-plus-aneries-6-mois-qu-30-ans-vie-publique](https://france3-regions.francetvinfo.fr/auvergne-rhone-alpes/allier/vichy/grand-debat-national-claude-malhuret-j-ai-entendu-plus-aneries-6-mois-qu-30-ans-vie-publique-1653604.html)
* chinois ::
    * vocab pr Grub..
* histoire ::
    * [a-pharaoh-may-have-created-the-ancient-kingdom-of-israel]( https://www.haaretz.com/archaeology/.premium.MAGAZINE-move-over-moses-a-pharaoh-may-have-created-the-ancient-kingdom-of-israel-1.7114102)
* récup dernier Pr la Sc..
* ML ::
    * [A Selective Overview of Deep Learning §§](https://arxiv.org/pdf/1904.05526.pdf)
    * [Inferring the quantum density matrix with machine learning §§](https://arxiv.org/pdf/1904.05903.pdf)
* société ::
    * [equality-of-opportunity-is-a-choice](https://milescorak.com/2019/04/15/equality-of-opportunity-is-a-choice/)
* géologie ::
    * [evidence-volcanoes-biggest-mass-extinction](https://phys.org/news/2019-04-evidence-volcanoes-biggest-mass-extinction.html)
* astro ::
    * [Regular Quantum States on the Cauchy Horizon of a Charged Black Hole §§](https://arxiv.org/pdf/1904.05941.pdf)
    * [Black Hole Shadow as a Test of General Relativity §§](https://arxiv.org/pdf/1807.08422.pdf)
    * [A black hole mimicker hiding in the shadow §§](https://arxiv.org/pdf/1904.06207.pdf)

16/4/19

* paléo ::
    * [2019-04-bunyips-beasts-memories-long-extinct-creatures](https://phys.org/news/2019-04-bunyips-beasts-memories-long-extinct-creatures.html)
* évolution ::
    * [The Origin and Evolution of the Human Face §§](https://www.jstor.org/stable/pdf/3623946.pdf?refreqid=excelsior%3Af9bb386fc08cdb54f7fdc67150cce4c4)
* prog ::
    * py ::
        * [Qu-est-ce-que-un-décorateur-en-Python](https://fr.quora.com/Qu-est-ce-que-un-d%C3%A9corateur-en-Python)
    * mov walls ::
        * faire ressort, spirale..
            * l'orienter et mettre à la bonne échelle..
* math ::
    * maîtriser cohomologie de DeRham..

17/4/19

* santé ::
    * pr rdv médecin ..
        * foie, vésicule..
* chinois ::
    * plus travailler vocab..
    * repr Gurb ::
        * compléter vocab..
        * mémoriser vocab déjà récup..
* prog ::
    * mov walls..
        * possib faire chemin de fer..
            * train suit la piste..
        * experim ::
            * vr si je peux faire tonneau de Pascal..
            * faire osmose..
            * faire belles structures à partir mvts erratiques..
                * par ex un dôme..
            * réfraction co grosse particule
                * qui rentre ds bain de particules qui la ralentissent..
            * vitesse centrifuge et élongation..
                * vérifier que ça colle..
        * animation ::
            * possibilité d'arrêter la scène
                * et changer les params..
        * divers ::
            * commencer à mettre mom d'inertie..
                * faire ensuite compo des mom d'inertie..
        * mouvement ::
            * possib régler params avant appuyer sur A..
                * mettre par ex vit des part à 0 ..
                * mettre lim sup sur les vitesses..
                * enlever les chocs..
                * mettre que la gravité ..
            * plaques avec sph dures..
                * les sph ::
                    * ne rép pas à gravité..
                    * collées à la plaque..
                    * disposées aléatoirement..
                        * lâchées sur plaque et gelées..
                        * ou juste reliées en réseau par ressorts..
                            * mvt que 2D ds la plaque..
            * ressort ::
                * possible de faire apparaître disparaître les ressorts..
                * possib mettre plaque sur ressorts..
                * faire ressorts en compression aussi..
                * rendre possible d'échapper au ressort..
                    * trop tendu, le ressort disparaît
                        * les particules sont libres..
                * doit pas interagir..
                * définir longueur..
                    * si à cette longeur et k fort c co une corde raide..
                    * définir barre..
                    * faire corde à partir de morceaux de barres..
                * fiche ::
                    * possib changer k et enregistrer.
                    * pas de texture
        * idées ::
            * page rank..
            * faire structure sous gravité co pr Sagrada Familia..
                 * et retourner la structure..
                      * est-ce que c'est pertinent ?
        * bug ::
            * rendre les ressorts insensibles aux chocs..
            * vr pquoi le syst gagne en énergie pr 5 boules
                * reliées par des ressorts
                    * tremblements..
        * code ::
            * commencer à mettre vue.js..
* algos ::
    * page rank ::
        * [PageRank algorithm §§](http://www.stat.cmu.edu/~ryantibs/datamining/lectures/03-pr.pdf)
        * [Notes on PageRank Algorithm §§](http://home.ie.cuhk.edu.hk/~wkshum/papers/pagerank.pdf)
        * [Page rank, Markov §§](http://www.cs.cmu.edu/~elaw/pagerank.pdf)
        * [Google’s PageRank and Beyond §§](http://geza.kzoo.edu/~erdi/patent/langvillebook.pdf)
        * [Investigating Google's pagerank algorithm §§](http://www.it.uu.se/edu/course/homepage/projektTDB/vt04/projekt5/website/report.pdf)
        * [Web Graph and PageRank algorithm §§](http://wwwmayr.in.tum.de/konferenzen/Jass05/courses/6/Papers/07.pdf)
* récup plus d'influences sur twitter..
* achats ::
    * petit tabouret et table pr Meglio..
* vr pr vider all_in_one.. et mettre en vente..
* histoire ::
    * [the-burning-of-the-talmud-in-parisdate-1242](https://www.commentarymagazine.com/articles/the-burning-of-the-talmud-in-parisdate-1242/)
    * [Les chemins tortueux de la paix au Yémen](https://www.monde-diplomatique.fr/2019/03/BERNIN/59648)
* [Woman-caned-public-having-sex-outside-wedlock-Indonesia](https://www.dailymail.co.uk/news/article-6923339/Woman-caned-public-having-sex-outside-wedlock-Indonesia.html)
* [gilets-jaunes-apres-notre-dame-ingrid-levavasseur-appelle-a-revenir-a-la-realite](https://www.nouvelobs.com/societe/20190417.OBS11697/gilets-jaunes-apres-notre-dame-ingrid-levavasseur-appelle-a-revenir-a-la-realite.html)
* chinois ::
    * vr discours ML en chinois..

18/4/19

* [End-to-End Differentiable Learning of Protein Structure §§](https://www.biorxiv.org/content/biorxiv/early/2018/02/14/265231.full.pdf)
* médiathèque ::
    * inscription et ramener docs..
* chinois ::
    * continuer récup vocab..
* job ::
    * https://towardsdatascience.com/object-detection-with-10-lines-of-code-d6cb4d86f606
    * https://www.welcometothejungle.co/fr/articles/mail-candidature-spontanee
    * [lintelligence-artificielle-accelere-developpement-energie-de-fusion](https://trustmyscience.com/lintelligence-artificielle-accelere-developpement-energie-de-fusion-propre-et-pratiquement-illimitee/)
    * vr pr se lancer MQ, mass spec, Autriche ?
    * boulot au Québec..
    * vr sur ITER..
    * ESRF ::
        * [machine-learning-big-data-software-developer](https://esrf.gestmax.eu/1331/1/machine-learning-big-data-software-developer/)
    * Pix4D
    * idées en ML
    * vr pr image recogn pr le gars qui fait du drone sur Stras..
        * prod modèles qui peut l'intéresser..
    * vr les opportunités du côté Gaël Varoqueaux..
    * développer applis autour reconn image..
* math ::
	* [the-sum-product-problem-shows-how-addition-and-multiplication-constrain-each-other-20190206](https://www.quantamagazine.org/the-sum-product-problem-shows-how-addition-and-multiplication-constrain-each-other-20190206/)
* prog ::
    * mov walls ::
        * obj ::
            * représenter ondes EM avec des petits ressorts..
        * phys ::
            * le pb conservation énergie viendrait
                * pquoi facteur 5 nécessaire pr énergie élastique..
                    * 4 ou 5 ??

19/4/19

* prog ::
    * js ::
        * [javascript-merge-sort](https://medium.com/javascript-in-plain-english/javascript-merge-sort-3205891ac060)
    * mov walls ::
        * simulation foudre..
        * phys ::
            * vr pquoi facteur 5 pr énergie élastique..
            * tester énergie avec plusieurs corps..
            * mettre attact en r**2 ..
                * vr si j'arrive à avoir résonance..
            * vr pr simuler syst RMN..
                * acq en quadrature etc..
                * antennes etc..
            * vr si poss simuler ondes acoustiques.. ??
                * faire mvt périodique paroi boîte..
                    * vr si ça peut générer des ondes..
                        * faire code pr faire ces vibrations..
            * réseau de spin.
        * mouvement ::
            * reg pr rebonds sur plan incliné..
        * objets ::
            * ressort avec position moyenne
            * force law pr élastique, ressort etc..
            * vr pr faire obj corde..
                * assemblage de tronçons reliés par des rotules..
                * arriver à mettre corde sur cube..
                    * et que ça épouse la forme..
                        * cube composé de 6 plaques repoussantes..
                            * boîte avec haut et bas..
            * possib enreg surf horiz..
                * rendre surf repoussante comme paroi de la boîte..
* langues ::
    * chinois ::
        * lancer d'autres sujets..
            * explorer de nouv champs lexicaux..
    * arabe,
        * comm exploration champs lexicaux..
* phys ::
    * [Maxwell_Thremodynamics §§](https://www.nature.com/articles/011357a0.pdf)
    * [Blind ghost imaging §§](https://www.osapublishing.org/DirectPDFAccess/22AE4724-D6E4-F17C-C95837F075B1D543_408870/optica-6-4-460.pdf)
* bouq ::
    * L'archipel français
        * aller le prendre à la FNAC..
* math ::
    * [The Hartley Transform §§](http://dsp-book.narod.ru/TAH/ch04.pdf)
    * [De-l-algorithme-de-Google-aux-billards-de-Sinai](http://images.math.cnrs.fr/De-l-algorithme-de-Google-aux-billards-de-Sinai.html)
        * récup papiers de Viviane Baladi
* job ::
    * vr pr trav en MQ..
* culture ::
    * web vidéo festival..
        * http://framesfestival.fr/
* société ::
    * [notre-dame-lilian-thuram-juge-bizarre-les-hierarchies-dans-les-emotions](http://sport24.lefigaro.fr/le-scan-sport/2019/04/18/27001-20190418ARTFIG00079-notre-dame-lilian-thuram-juge-bizarre-les-hierarchies-dans-les-emotions.php)
    * irrationnalité ::
        * [les-foules-maupassant](https://www.retronews.fr/societe/echo-de-presse/2019/03/20/les-foules-maupassant)

20/4/19

* prog ::
    * mov walls ::
        * mouvement ::
            * ajouter friction..
            * faire rebond en fonction angle mur..
        * objets ::
            * plans inclinés qui montent et descendent..
        * phys ::
            * vr pr transmiss ondes..
        * code ::
            * vr si mettre des prototypes est une bonne idée..
        * général ::
            * mettre bcp de fonction dans les panneaux..
                * éviter les touches..
                * déjà mettre ttes les formes dans panneau objet..
                    * mettre un menu déroulant..
                        * compléter par attribut class de l'obj..
        * groupes ::
            * démagnétiser en groupe.
            * rélger vitesse en groupe..
                * même vit, vit aléatoire, vit nulle..
        * experim ::
            * boules ds une boîte..
                * proies et chasseurs..
                    * proies se multiplient..
                    * les chasseurs éliminent. .
                        * reg évolution de populations..
                            * vr avec repr des chasseurs etc..
    * [a-guide-to-prototype-based-class-inheritance-in-javascript](https://medium.com/@js_tut/a-guide-to-prototype-based-class-inheritance-in-javascript-849d3c3ddca)
* job ::
    * [only-intrinsic-motivation-lasts](https://medium.com/@dvassallo/only-intrinsic-motivation-lasts-92c0497cf97c)
    * [being-a-tech-employee-how-i-tried-to-be-a-good-one-and-keep-my-sanity](https://medium.com/@dvassallo/being-a-tech-employee-how-i-tried-to-be-a-good-one-and-keep-my-sanity-efae8de6311)a
* science ::
    * math ::
        * [An Introduction to Gradient Flows in Metric §§](http://www.math.leidenuniv.nl/reports/files/2009-09.pdf)
    * algos ::
        * [Outlier-robust estimation of a sparse linear model §§](https://arxiv.org/pdf/1904.06288.pdf)
    * phys ::
    	* reg phén ondes evanescentes..
    * évol ::
        * [viruses-have-a-secret-altruistic-social-life-20190415](https://www.quantamagazine.org/viruses-have-a-secret-altruistic-social-life-20190415/)
* techno ::
    * photogrammétrie ::
        * [old-town-enviroment-photogrammetry-scan](https://sketchfab.com/3d-models/old-town-enviroment-photogrammetry-scan-13ded67632414596b50a384058c3149c)
* chinois ::
    * http://www.xinhuanet.com/english/2019-04/20/c_137993867.htm
* perso ::
    * https://www.quantamagazine.org/jim-gunn-the-astronomer-whod-rather-build-space-cameras-20190418/


21/4/19

* job ::
    * vr ancien directeur supélec.. nom grec..
        * machine learning pr aider les radiologues..
    *
* divers ::
    * [challenges-in-analysis-of-complex-natural-mixtures-faraday-discussion](http://www.rsc.org/events/detail/29574/challenges-in-analysis-of-complex-natural-mixtures-faraday-discussion)
* prog ::
    * boîte..
        * limiter chocs sur la largeur des parois..
            * il semble que les parois se prolonge de manière un peu invisible..
    * indiquer qd aucun obj n'est activé..

23/4/19

* L. Duval ::
    * Greg Egan
    * NNLS pas de lambda..
        * Slavsky..
    * docs sur proj aléatoires..
        * aiguille de Buffon etc.
    * techniques de compression, ce qui se fait de mieux..
    * Mario Sacchi au Canada.. ?
    * nom grec ..
    * accès aux ressources france culture.. ?
* job ::
    * dans linkedin mettre plus de tags..
        * algorithmes, compressed sensing, random proj etc.., parcimonie
    * retrouver le nom grec donné par Laurent.
    * dem à JC Pesquet nom du gars de sup élec..
    * gars Q comp, prog..
    * recontacter Steph Becker..
    * vr comm améliorer relax RMN 2D..
    * IPHC
        * http://www.iphc.cnrs.fr/-Yves-HANDRICH-.html
    * kaggle..
    * https://actu.epfl.ch/news/harnessing-photonics-for-at-home-disease-detection/
    * vr phootogrammétrie..
    * spinoff de l'Institut de Mathématique de Toulouse..
* calcul ::
    * [De Pascal et Schickard au calcul électronique §§](http://www.numdam.org/article/ASCFM_1962__8_2_89_0.pdf)
    * [Du doigt à la machine, le calcul §§](https://www.arts-et-metiers.net/sites/arts-et-metiers.net/files/asset/document/pj_le_calcul.pdf)
    * [Méthodes Numériques Dynamique moléculaire §§](http://sites.unice.fr/site/robbe/sem5/documents/mdlicence1.pdf)
    * [Kepler, Newton and numerical analysis §§](https://core.ac.uk/download/pdf/85213717.pdf)
* visite ::
    * musée du pétrole..
* prog ::
    * moving wall.. ::
        * objets ::
            * possib de faire montagne, reliefs etc..
            * vr pr enrg les plans horiz..
                * délenchement dans panneau objet..
        * expérims ::
            * vérif Brachistochrone..
                * retrouver numériquement la courbe
                * minimization L0 via L1..
            * modélisation relax T1-T2..
            * obtenir surface d'une boîte de forme complexes
                * à partir pression du gaz..
                    * PV = nRT ..
        * tools ::
            * mettre picking et sélection dans outils..
            * distance entre 2 obj..
            * aire ::
                * nb obj..
                * énergie..
                * vit moy..
            * mettre ::
                * select area ds tools..
                * pick picking..
            * possible de faire boîtes avec tunnel
                * transf piste en murs..
            * possible de régler angle rot par défaut..
        * scene ::
            * zône de création bcp plus grande..
            * ajouter load..
                * liste des scènes dispo..
            * mettre stop/launch animation..
            * new scene..
        * help ::
            * controls..
                * types obj..
                * noms obj..
                * vitesse..
                * énergie tot etc..
        * animation ::
            * possib de donner mvt sinusoïdal à obj..
            * vr pr faire accordéon..
        * manette ::
            * vr comm utiliser manette..
        * bug ::
            * boules qui s'échappent de la boîte..
            * apparemment bug qd on enchaîne piste et sélection..
        * créer touches/action qu'une seule fois..
* math ::
    * [Euler - Genius Blind Astronomer Mathematician §§](https://arxiv.org/pdf/1406.7397.pdf)
    * [High-Dimensional Probability §§](https://www.math.uci.edu/~rvershyn/papers/HDP-book/HDP-book.pdf)
* NMR ::
    * méc de relaxation..
        * Abragham etc..
        * BodenHausen
* admin ::
    * vr pr chômage..
    * Mutuelle..
* psy ::
    * [Ecrits Lacan 1966 §§](https://monoskop.org/images/d/da/Lacan_Jacques_Ecrits_1966.pdf)
* phys ::
    * [Manipulating orbital angular momentum entanglement by using the Heisenberg Uncertainty principle §§](https://arxiv.org/pdf/1801.00894.pdf)
* ML ::
    * [Approximating Likelihood Ratios with Calibrated Discriminative Classifiers §§](https://arxiv.org/pdf/1506.02169.pdf)
* algos ::
    * [GENERALIZATIONS OF THE DURAND-KERNER METHOD §§](https://arxiv.org/pdf/1806.06280.pdf)
    * [MODIFIED WEIERSTRASS METHOD WITH GAUSS–SEIDEL APPROACH FOR FINDING MULTIPLE POLYNOMIAL ZEROS §§](http://www.mi.sanu.ac.rs/~gvm/radovi/tivat.pdf)
* [siva-signal-image-links](http://www.laurent-duval.eu/siva-signal-image-links.html)
* [fatiha-boudjahlat-laicite-voile-frere-160635](https://www.causeur.fr/fatiha-boudjahlat-laicite-voile-frere-160635)
* https://toolbox.google.com/datasetsearch

24/4/19

* prog ::
	* [a-birds-eye-vue-how-to-get-started-with-vue-js](https://medium.freecodecamp.org/a-birds-eye-vue-how-to-get-started-with-vue-js-dd1b82795908)
    * https://sdkcarlos.github.io/sites/artyom.html
    * mov walls ::
        * commande vocale ::
            * réponses ::
                * mettre voix féminine..
                * vr où réponses pê utile..
            * graphe énergie..
        * obj ::
            * faire fonction fill box..
            * vr pr faire polygone quelconque..
            * réécrire track en faisant co pr wall_box..
                * rotation et orientation..
        * infos stats ::
            * améliorer présentation du panneau..
            * plus de stats..
                * nb obj par type..
                * énergy moyenne..
                * énerg potentielle..
                * quantité de mvt..
                * vr pr faire graphe en fonction du temps..
                    * obs oscill périodiques etc..
                    * histo pr Maxwell..
        * réfl ::
            * moment cinétique = phéno émergent..
        * continuer interaction avec voix..
            * rajouter ::
                * liaison élastique..
                * informations
        * mvt ::
            * qd ça cogne contre mur, coul bleue..
            * vr si magnet encore actif pr sphère..
            * calcul libre parcours moyen..
        * vr pr utiliser LESS à la place de CSS..
        * bugs ::
            * les murs faits avec piste ne doivent pas bouger..
                * ça vient des plots..
                    * pê faire disp les plots..
            * réussir à corriger pb de porosité..
        * outils ::
            * changement de niveau..
* science ::
    * math ::
        * [Le-lion-de-Belfort-et-les-voutes-en-berceau](http://images.math.cnrs.fr/Le-lion-de-Belfort-et-les-voutes-en-berceau?lang=fr)
    * ML ::
    	* [Enhanced Expressive Power and Fast Training of Neural Networks by Random Projections §§](https://arxiv.org/pdf/1811.09054.pdf)
    	* [artificial-intelligence-finds-ancient-ghosts-in-modern-dna](https://www.quantamagazine.org/artificial-intelligence-finds-ancient-ghosts-in-modern-dna-20190207/)
* santé ::
    * vaccin dtp..
* job ::
    * vr pr calcul quantique..
        * https://www.linkedin.com/jobs/view/1213690867/
        * me former rapidement..
    * comm à voir pr faire site payant..
    * linkedin,
        * ajouter ::
            * algèbre, calcul etc..
    * [how-to-network-with-people-you-dont-know-to-get-the-job-you-want](https://betterhumans.coach.me/how-to-network-with-people-you-dont-know-to-get-the-job-you-want-7feee9474d40)
* culture ::
    * [Why St George is a Palestinian hero](https://www.bbc.com/news/magazine-27048219)
* faire le ménage ds hotmail ds dossier intéressant..
* société ::
	* [2019-04-ghana-eyes-world-medical-drone](https://phys.org/news/2019-04-ghana-eyes-world-medical-drone.html)

25/4/19


* science ::
    * [en-los-castillos-tambien-hay-ciencia-nos-vamos-a-guadamur](https://viajandoconciencia.home.blog/2019/04/22/en-los-castillos-tambien-hay-ciencia-nos-vamos-a-guadamur/)
    * math ::
        * [brunn-minkowski-inequality](https://terrytao.wordpress.com/tag/brunn-minkowski-inequality/)
        * développer de nlles idées..
        * [A Brief History of Strahler Numbers §§](https://www7.informatik.tu-muenchen.de/~esparza/Talks/lata14.pdf)
        * [Lexique_de_la_théorie_des_graphes](https://fr.wikipedia.org/wiki/Lexique_de_la_th%C3%A9orie_des_graphes)
        * [GRAPHS, MATRICES, AND CIRCUIT THEORY §§](https://pdfs.semanticscholar.org/fe8f/2fead3aa49247efcf3da8e86488a5e236310.pdf)
    * ML ::
        * [Stochastic Deep Networks §§](https://arxiv.org/pdf/1811.07429.pdf)
        * commencer à créer des outils pr activité..
    * bio ::
        * [silent-no-more-river-dolphins-turn-out-to-be-talkative](https://cosmosmagazine.com/biology/silent-no-more-river-dolphins-turn-out-to-be-talkative)
    * evol ::
        * [2019-04-callichimaera-perplexa-platypus-crabs](https://phys.org/news/2019-04-callichimaera-perplexa-platypus-crabs.html)
* prog ::
    * mov walls ::
        * phys ::
            * vérif 1/2 CU**2
        * interaction ::
            * mettre interaction en 1/r**2 ..
        * formes ::
            * collines, montagnes..
                * https://hackernoon.com/how-to-make-mountains-memorable-with-perlin-noise-76f93da23601
        * objets ::
            * chaîne, élastique et rigide...
                * possib de dessiner directement..
                    * boules reliées..
            * possib de changer tension élastique..
            * tissu de sphères reliées par élastique..
                * maillage régulier carré..
                    * vr en soulevant les bords..
                        * Gaudi..
            * formes fractales etc..
            * arbres en utilisant moteur phys..
                * nb de Strahler.
        * comm vocales ::
            * piste mur
            * picking
            * animation et stop animation..
            * élastique
            * vitesses nulles ds sélection
            * maillage élastique régulier..
            * possib donner vit max..
        * mouvement ::
            * possib de mettre vit à 0 ou aléatoire..
        * divers ::
            * vr comment utiliser le ML..
                * reconn de formes, positions etc..
            * vr conso électrique en fonction
                * comlpexité de la scène..
                    * utiliser le Wattmètre.
        * math ::
            * faire graphe et trouver de manière aléatoire
                * la décomposition en boucles..
                    * mettre aléatoirement des boules dans le graphe.
                        * les boules touches les parois..
                            * ça donne les boucles..
                    * arriver à aplanir le graphe..
                        * vr si poss de faire ça avec moteur phys..
* jobs ::
    * CEA ::
        * https://www.emploi.cea.fr
    * EPFL
    * réfl pr dév de nouv softs..
    * vr opportunités côté iCube..
        * [Using Machine Learning Algorithms for Breast Cancer Risk Prediction and Diagnosis](https://pdf.sciencedirectassets.com/280203/1-s2.0-S1877050916X00063/1-s2.0-S1877050916302575/main.pdf)
            * Thomas Noel, ICube Laboratory,University of Strasbourg,Strasbourg 67400,France
    * vr si emplois à Minion..
    * vr du côté des centres en IA, quatre centres..
* bouquins ::
    * récupérer ds http://m.bookfi.net/
* langues ::
    * [it-s-official-english-is-a-genuinely-weird-language](https://cosmosmagazine.com/social-sciences/it-s-official-english-is-a-genuinely-weird-language)
* divers ::
    * emmener obj à la décharge.
    * vendre ordis qui servent plus..
    * changer cartouche jaune de l'imprimante..

26/4/19

* prog ::
    * mov walls ::
        * vr fonctions pr circ électronique..
            * graphes, ramifications etc..
            * composants
    * repr projet d'éditeur de notes avec node.js..
        * rev code, éditeur qui s'ouvre au bon endroit !!!
        * passer de l'un à l'autre avec barre d'espace..
        * vr pr cacher les librairies..
            * ne mettre que le contenu markdown..
        * cliquer sur la date renvoie à bonne position dans le texte..
    * js ::
        * [seven-javascript-things-i-wish-i-knew-much-earlier-in-my-career](https://www.smashingmagazine.com/2010/04/seven-javascript-things-i-wish-i-knew-much-earlier-in-my-career/)
            * utiliser notation : var direction = x < 200 ? 1 : -1;
* sciences ::
    * algos ::
        * [Heavy-tailed kernels reveal a finer cluster structure in t-SNE visualisations §§](https://arxiv.org/pdf/1902.05804.pdf)
    * math ::
        * [Why Are Big Data Matrices Approximately Low Rank §§](https://epubs.siam.org/doi/pdf/10.1137/18M1183480)
    * phys ::
        * [tournoi-international-des-physiciens-a-l-epfl-les-suisses-5e-finale-vendredi-836074](https://www.lenouvelliste.ch/articles/suisse/tournoi-international-des-physiciens-a-l-epfl-les-suisses-5e-finale-vendredi-836074)
        * [mathematician-traces-his-journey-poverty-prominence](https://www.sciencenews.org/article/mathematician-traces-his-journey-poverty-prominence)
    * divers ::
        * https://castel.dev/post/lecture-notes-1/
* job ::
    * spinoff IMT à Toulouse
    * [spin-off](https://www.telecom-paristech.fr/fr/innovation-entrepreneuriat/spin-off)
    * AMIES, ABG..
    * améliorer maîtrise Atom.io..

27/4/19

* node_straptoc ::
    * intégrer annyang pr perm d'avoir syntaxe.%%%, aide etc..%%%
    * textarea, possib de faire des tabulation..
    * nvm install node
* CA alors !!!  INcreible MAdre Diossss !! 
