
# Introduction

## example

* blabla
	* hop..

$menu_bim link:nm_Edit:ic_edit:href_baragouinage

1/1/16

* 光说空话不做事，犹如花园光长刺
* [Vamosplaya  %%](Vamosplaya.mp4)
* [huppe link](#huppe)
* [cartoonmovement ,,](http://blog.cartoonmovement.com/)
* video eg ::
    * [vidéo 1  ;;](http://www.youtube.com/watch?v=QH2-TGUlwu4)
* adding that
	* [en-direct-nie](http://www.balbucam.fr/fr/en-direct-nie/)
    * yepppp

## Example of equation
* first example
    * sum ::
        * $math \sum_{i=0}^n i^2 = \frac{(n^2+n)(2n+1)}{6}

## blablabla

# barag

25/4/19

* science ::
    * [en-los-castillos-tambien-hay-ciencia-nos-vamos-a-guadamur](https://viajandoconciencia.home.blog/2019/04/22/en-los-castillos-tambien-hay-ciencia-nos-vamos-a-guadamur/)
    * math ::
        * [brunn-minkowski-inequality](https://terrytao.wordpress.com/tag/brunn-minkowski-inequality/)
        * développer de nlles idées..
        * [A Brief History of Strahler Numbers §§](https://www7.informatik.tu-muenchen.de/~esparza/Talks/lata14.pdf)
        * [Lexique_de_la_théorie_des_graphes](https://fr.wikipedia.org/wiki/Lexique_de_la_th%C3%A9orie_des_graphes)
        * [GRAPHS, MATRICES, AND CIRCUIT THEORY §§](https://pdfs.semanticscholar.org/fe8f/2fead3aa49247efcf3da8e86488a5e236310.pdf)
    * ML ::
        * [Stochastic Deep Networks §§](https://arxiv.org/pdf/1811.07429.pdf)
        * commencer à créer des outils pr activité..
    * bio ::
        * [silent-no-more-river-dolphins-turn-out-to-be-talkative](https://cosmosmagazine.com/biology/silent-no-more-river-dolphins-turn-out-to-be-talkative)
    * evol ::
        * [2019-04-callichimaera-perplexa-platypus-crabs](https://phys.org/news/2019-04-callichimaera-perplexa-platypus-crabs.html)

26/4/19

* prog ::
    * mov walls ::
        * vr fonctions pr circ électronique........
            * graphes, ramifications etc..
            * composants
    * repr projet d'éditeur de notes avec node.js..
        * rev code, éditeur qui s'ouvre au bon endroit !!!
        * passer de l'un à l'autre avec barre d'espace..
        * vr pr cacher les librairies..
            * ne mettre que le contenu markdown..
        * cliquer sur la date renvoie à bonne position dans le texte..
    * js ::
        * [seven-javascript-things-i-wish-i-knew-much-earlier-in-my-career](https://www.smashingmagazine.com/2010/04/seven-javascript-things-i-wish-i-knew-much-earlier-in-my-career/)
            * utiliser notation : var direction = x < 200 ? 1 : -1;
* sciences ::
    * algos ::
        * [Heavy-tailed kernels reveal a finer cluster structure in t-SNE visualisations §§](https://arxiv.org/pdf/1902.05804.pdf)
    * math ::
        * [Why Are Big Data Matrices Approximately Low Rank §§](https://epubs.siam.org/doi/pdf/10.1137/18M1183480)
    * phys ::
        * [tournoi-international-des-physiciens-a-l-epfl-les-suisses-5e-finale-vendredi-836074](https://www.lenouvelliste.ch/articles/suisse/tournoi-international-des-physiciens-a-l-epfl-les-suisses-5e-finale-vendredi-836074)
        * [mathematician-traces-his-journey-poverty-prominence](https://www.sciencenews.org/article/mathematician-traces-his-journey-poverty-prominence)
    * divers ::
        * https://castel.dev/post/lecture-notes-1/
* job ::
    * spinoff IMT à Toulouse
    * [spin-off](https://www.telecom-paristech.fr/fr/innovation-entrepreneuriat/spin-off)
    * AMIES, ABG..
    * améliorer maîtrise Atom.io..

27/4/19

* !alert beg 20_2_8
* node_straptoc ::
    * intégrer annyang pr perm d'avoir syntaxe.%%%, aide etc..%%%
    * textarea, possib de faire des tabulations..
    * nvm install node
* Caaaaaa alors !!!  INcreible MAdre Diossss !! Es de puta madre !!
* [2D_Gravity_and_Random_Matrices](../../2D_Gravity_and_Random_Matrices.pdf)
* !alert Ceci est une alerte.. 20_2_4
* ii
	* !alert autre allllllerrrrrrttttteeeee !!!.. 20_2_4


30/5/19

* rrzrz
* oo
	* !alert Elsewhere in the Universe 20_2_4
* A lire Physique ::
	* !fold public/pdf/Phys


3/2/20

* !alert 1 20_2_6
* !alert 2  20_2_4
* !alert 3 20_2_4
* job
	* lensless imaginggggg
	* Bron, inserm neurologie traitement signal..
    	* https://www.indeed.fr/voir-emploi?jk=ec3d6ec14562c27f
* divers ::
	* !alert 4 20_2_4
    * souris plus fluide avec roulette moins heurtée..
	* améliorer infos utiles..
    	* compléter Ricardo Bofill
        * papiers Fermi
        * papiers Dirac..
* !alert mailer Tuan 20_2_8
* admin
	* loyerrrrrrr
    * assurance habitation à envoyer à l'agence.. %%%
    * passer docs santé ds bitbuck en plus de syno
    	* limite risque de perte à cause pb synchro..
* Le monde
	* !fold ../../../../media/sdata/Lemonde/2018 !inside
* test
	* !fold ../../../../media/sdata/docs/test !inside

# Science

## Géologie

### Volcans.. 

* !note araraar 100
* [eaea ,,](bashrc.txt)

## Primates

* Docs, infos, vidéos sur les primates
* [Primates Phylogeny Hayasaka §§](sdata/papers_to_keep/Evolution/Molecular_phylogeny_and_evolution_of_primate_mitochondrial_DNA.pdf)
* [A Mitogenomic Phylogeny of Living Primates §§](sdata/papers_to_keep/Evolution/A_Mitogenomic_Phylogeny_of_Living_Primates.pdf)
* [eaeae](https://www.linuxmint.com/start/sylvia/)
* [uu](https://www.lemonde.fr/)
* articles primates
	* $pdf
    +++ sdata/papers_to_keep/Zoologie/Primates
    [LES PRIMATES Bertrand DEPUTTE §§](LES_PRIMATES_Bertrand_DEPUTTE.pdf)
    [Éthologie et cognition - le cas des primates §§](Éthologie_et_cognition_-_le_cas_des_primates.pdf)
    [Primate Taxonomy- Species and Conservation §§](Primate_Taxonomy-_Species_and_Conservation.pdf)
    [Primates  Taxonomy  COLIN GROVES §§](Primates__Taxonomy__COLIN_GROVES.pdf)
    [ÉTUDE COMPORTEMENTALE ET RESOCIALISATION DES CHIMPANZÉS CAPTIFS §§](ÉTUDE_COMPORTEMENTALE_ET_RESOCIALISATION_DES_CHIMPANZÉS_CAPTIFS.pdf)
    [Primate Taxonomy- Inflation or Real §§](Primate_Taxonomy-_Inflation_or_Real.pdf)


## Physiciens

* Docs infos sur divers physiciens intéressants..
* Charpak ::
	* articles sur Charpak
		* $pdf
        +++ sdata/papers_to_keep/perso/Science/Phys/Charpak
        [LES SCIENCES DE 2 A 10 ANS §§](LES_SCIENCES_DE_2_A_10_ANS.pdf)
        [Selection Articles-Scientifiques Charpak §§](Selection_Articles-Scientifiques_Charpak.pdf)
        [Hommage à Georges Charpak §§](Hommage_a_Georges_Charpak.pdf)
        [Georges Charpak et la physique §§](Georges_Charpak_et_la_physique.pdf)
    	[Georges Charpak par Jacques Lewiner §§](Georges_Charpak_par_Jacques_Lewiner.pdf)
	* [fifty-years-charpak-revolutionised-particle-detectors](https://home.cern/fr/about/updates/2018/02/fifty-years-charpak-revolutionised-particle-detectors)

## un air de déjà vu..

* [déjà vu §§](sdata/docs/test/djvu/optic.djvu)
* [déjà déjà vu §§](sdata/docs/test/djvu/colorbook.djvu)

## visible or not .. 

### third level.. 

* hoho 
* jungle in your head.. 
* gros bordel 

### un raccourci vers la lumière.. 

* roue tournante.. 
* moulins.. 
* Huyghens :: 
	* $pdf
	+++ sdata/papers_to_keep/perso/Science/Phys/Huyghens
	[huygens biog §§](huygens_biog.pdf)
	[The Huygens entrainment phenomenon and thermoacoustic engines §§](The_Huygens_entrainment_phenomenon_and_thermoacoustic_engines.pdf)
	[Le Horologium Oscillatorium de Huygens et les Principia §§](Le_Horologium_Oscillatorium_de_Huygens_et_les_Principia.pdf)
	[La mesure du ciel la correspondance de Chapelain et Huygens §§](La_mesure_du_ciel_la_correspondance_de_Chapelain_et_Huygens.pdf)
	[Christiaan Huygens and Contact Geometry §§](Christiaan_Huygens_and_Contact_Geometry.pdf)
	[Lenses and waves Christiaan Huygens and the mathematical science of optics in the 17th century §§](Lenses_and_waves_Christiaan_Huygens_and_the_mathematical_science_of_optics_in_the_17th_century.pdf)
	[Le principe de Huygens par Hadamard 1924 §§](Le_principe_de_Huygens_par_Hadamard_1924.pdf)
	[Huygens Christiaan  1629-1695 Oeuvres completes §§](Huygens_Christiaan__1629-1695_Oeuvres_completes.pdf)
	[Huygens Eloge §§](Huygens_Eloge.pdf)

### test djvu again.. 

* mixture
	* $pdf 
    +++ sdata/docs/test/djvu_and_pdf
	[opt §§](optic.djvu)
    [Sankarisme §§](Sankarisme.pdf)



